{% extends "base.html" %}
{% block title %}Something cool{% endblock %}
{% block content %}
<p class="display-1 text-end me-6 mt-4">SKATEBOARDING</p>
<p class="display-1 text-start ">LOS ANGELES</p>
<p class="display-1 text-end">FAMOUS PARKS</p>

<!-- Intro -->
<div class="row mt-7 mb-5">
    <div class="col">
        <p>Intro</p>
    </div>
    <div class="col justify-content-end">
        <p class="h3">            
            What could these young adults do on the days when the waves weren't strong enough for surfing? Those 
            brainstorming sessions led to skateboarding in the streets to practice surfing, and that process eventually led 
            some to transition their tricks from the water to the land.
        </p>
    </div>
</div>
<img src="static/images/desktop_header.png" alt="" class="img-fluid rounded float-center">

<!-- Venice Beach -->
<div class="row mt-7">
    <div class="col">
        <p>01</p>
    </div>
    <div class="col justify-content-end">
        <p class="display-1 text-end">VENICE</p>
        <p class="display-1 text-start ">BEACH</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="h3">
            <u>Venice Beach</u> -> was developed as a Los Angeles beach resort that paid homage to its Italian namesake with 
            canals, piazzas, pedestrian bridges, a lagoon, and a colonnaded business district.
        </p>
        <p class="h5 mt-3">
            Designed by eccentric millionaire Abbot Kinney in 1905, Venice's original waterways and charming beach cottages 
            can still be seen on Dell Avenue in the Venice Canal Historic District.
            <br><br>
            Today's Venice, though, is more famous for quirky happenings on its iconic beachfront boardwalk, where mimes, 
            jugglers, musicians, and street performers of all kinds inhabit an ever-changing and unforgettable bohemian 
            subculture. 
            <br><br>
            You may also see some of the country's best pickup basketball games on local outdoor courts. Watch it all from 
            the loud and lively waterfront skate park, or sit near the daily drum circle on the beach.
            <br><br>
            Feel free to grab a can and a stick—or anything that makes noise—and join in. Stop by the outdoor weight room 
            at Muscle Beach Gym, once the home turf of bodybuilder and actor Arnold Schwarzenegger, who later went on to 
            become California's governor. 
        </p>
    </div>
    <div class="col justify-content-end">
        <img src="static/images/desktop_location.png" alt="" class="img-fluid rounded float-end">
    </div>
</div>

<!-- Rosemead -->
<div class="row mt-7 justify-content-start">
    <div class="col-5 ms-8">
        <p class="display-2 text-end">ROSEMEAD</p>
        <img src="static/images/desktop_location_detail_1.png" alt="" class="img-fluid rounded float-end">
        <div class="row">
            <p class="h5 text-start mt-3">
                Rosemead is a city in Los Angeles County, California, United States. As of the 2010 census, it had a 
                population of 53,764. Rosemead is part of a cluster of cities, along with Alhambra, Arcadia, Temple City, 
                Monterey Park, San Marino, and San Gabriel, in the west San Gabriel Valley with a growing Asian population. 
            </p>
        </div>
    </div>
</div>

<!-- South Whittier -->
<div class="row mt-n7 justify-content-end">
    <div class="col-4">
        <p class="display-2 text-end">SOUTH WHITTIER</p>
        <img src="static/images/desktop_location_detail_2.png" alt="" class="img-fluid rounded float-end">
        <div class="row">
            <p class="h5 text-start mt-3">
                South Whittier is an unincorporated community and census-designated place in Los Angeles 
                County, California just south of the city of Whittier. As of the 2020 census, the CDP had a total population 
                of 56,415, down from 57,156 at the 2010 census.
            </p>
        </div>
    </div>
</div>

<!-- Santa Clarita -->
<div class="row mt-n7 mb-5 justify-content-start">
    <div class="col-6">
        <p class="display-2 text-end">SANTA CLARITA</p>
        <img src="static/images/desktop_location_detail_3.png" alt="" class="img-fluid rounded float-end">
        <div class="row">
            <p class="h5 text-start mt-3">
                Santa Clarita is a city in northwestern Los Angeles County, California. With a 2020 census population of 
                228,673, it is the third-largest city by population in Los Angeles County, and the 17th-largest in the 
                state of California.
            </p>
        </div>
    </div>
</div>
{% endblock %}